html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  font-family: Open Sans, sans-serif;
}

body {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

#titlePage {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.container {

  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iframe-container {
  position: relative;
  width: 100%;
  flex: 1;
  display: flex;
}

.iframe-container>iframe {
  border: 0;
  width: 100%;
  flex: 1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.controls {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  height: 120px;
  padding: 15px 0 0 15px;
  background: linear-gradient(#00B0FF, #80D8FF);
  border-top: 1px solid #e7e7e7;
  overflow: scroll;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}


button {
  width: 15%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 43%;
  border: 4px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  text-shadow: 0.5px 0.5px black;
  text-transform: uppercase;
  line-height: 1.2;
  cursor: pointer;
  outline: none;
  transition: background .2s;
  color: white;
  background: linear-gradient(#80D8FF, #00B0FF);
  height: 50px;
  font-size: 14px;
  z-index: 5;
  opacity: 0.8;
}

button.disabled {
  cursor: default;
  pointer-events: none;
  color: #ccc;
  background-color: #e7e7e7;
  transition: background-color .25s ease;
}

.description {
  box-sizing: border-box;
  position: absolute;
  padding: 30px;
  top: 30px;
  right: 30px;
  width: 240px;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  border-radius: 3px;
  z-index: 2;

  opacity: 0;
  pointer-events: none;
}

.description.--active {
  opacity: 0.7;
  pointer-events: all;
}

.description iframe,
.description img {
  max-width: 100%;
  height: auto;
}